In [9]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras import layers
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import pandas as pd

Using TensorFlow backend.
/Users/hamza/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/Users/hamza/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/Users/hamza/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/Users/hamza/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/Users/hamza/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/Users/hamza/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [137]:
df = pd.read_csv('downloads/lyrics.csv')

In [138]:
#Creating column to define new drake vs old drake
#1 represents new drake, 0 represents old drake

df['drake'] = np.where(df['year'] > 2014, 1, 0)
df['drake'].value_counts()

0    125
1     89
Name: drake, dtype: int64

In [139]:
df = df.loc[:,'lyrics':'drake']

In [140]:
n = 100
for j in range(len(df)):
    df['lyrics'][j]= [df['lyrics'][j][i:i+n] for i in range(0, len(df['lyrics'][j]), n)]

/Users/hamza/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [148]:
df_new = df.loc[df['drake'] == 1]

In [151]:
df_new = df_new.reset_index()

In [155]:
del df_new['index']

In [156]:
df_new

                                               lyrics  drake
0   [ breathe through ride through damn girl oh ma...      1
1   [ yeah thats about it this shit sound like wha...      1
2   [ envelopes comin in the mail let her open em ...      1
3   [ thats what they doin camron they actin like ...      1
4   [ boomin out in south gwinnett like lou will 6...      1
..                                                ...    ...
84  [the 6 raptors diamond key new ride old ride b...      1
85  [ ooh baby yeah days in the sun and nights in ...      1
86  [ question is will i ever leave you the answer...      1
87  [ its about us right now girl where you going ...      1
88  [ baby i like your style grips on your waist f...      1

[89 rows x 2 columns]

In [157]:
sentence = []

for j in range(len(df_new)):
    for i in df_new['lyrics'][j]:
        sentence.append(i)

In [158]:
type(sentence)

list

In [159]:
df_new= pd.DataFrame()

In [160]:
df_new['lyrics'] = sentence
df_new['drake'] = 1

In [161]:
df_old = df.loc[df['drake'] == 0]
df_old = df_old.reset_index()
del df_old['index']
df_old

                                                lyrics  drake
0    [ blue green jewels with the supreme fuel and ...      0
1    [ it may not mean nothing to yall but understa...      0
2    [ i m performing tonight you know that shit go...      0
3    [ uh shits all good the deal got signed and my...      0
4    [ yeah its drake kc we was just walking just s...      0
..                                                 ...    ...
120  [ let me know let me know ahhh let me know let...      0
121  [ how did i end up right here with you after a...      0
122  [ money just changed everything i wonder how l...      0
123  [ go go head go go go go go go head go go go g...      0
124  [ yesterday when we were getting high you were...      0

[125 rows x 2 columns]

In [162]:
sentence = []

for j in range(len(df_old)):
    for i in df_old['lyrics'][j]:
        sentence.append(i)

In [163]:
df_old= pd.DataFrame()

In [164]:
df_old['lyrics'] = sentence
df_old['drake'] = 0

In [167]:
df_old = df_old[:2500]

In [168]:
df_old

                                                 lyrics  drake
0      blue green jewels with the supreme fuel and l...      0
1     ing right to left moving right to left moving ...      0
2      model never holding birds of a feather and we...      0
3     ing right to left moving right to left yo what...      0
4     like i wouldnt jab yall you a trap star cool i...      0
...                                                 ...    ...
2495  w they know they know i be yelling out money o...      0
2496  it happened over time they know they know they...      0
2497  w they know they know yeah i heard once that t...      0
2498  er hear what was or will be than what is rathe...      0
2499   hear about findin yourself than how you lost ...      0

[2500 rows x 2 columns]

In [166]:
df_new

                                                 lyrics  drake
0      breathe through ride through damn girl oh man...      1
1     in back to you for sure laced up dripped up sa...      1
2     up glowin up growin up had to get it poppin wi...      1
3      get out we havent talked in a while we should...      1
4      the go you know that i did i dont know if you...      1
...                                                 ...    ...
1957  ere where where where where where oh yeah very...      1
1958  it girl where where where where cause if youre...      1
1959  back up and cause if youre down back up back u...      1
1960   more time fore i go higher powers taking a ho...      1
1961  one more time fore i go higher powers taking a...      1

[1962 rows x 2 columns]

In [171]:
df_final = pd.concat([df_new, df_old], ignore_index=True)

In [172]:
df_final

                                                 lyrics  drake
0      breathe through ride through damn girl oh man...      1
1     in back to you for sure laced up dripped up sa...      1
2     up glowin up growin up had to get it poppin wi...      1
3      get out we havent talked in a while we should...      1
4      the go you know that i did i dont know if you...      1
...                                                 ...    ...
4457  w they know they know i be yelling out money o...      0
4458  it happened over time they know they know they...      0
4459  w they know they know yeah i heard once that t...      0
4460  er hear what was or will be than what is rathe...      0
4461   hear about findin yourself than how you lost ...      0

[4462 rows x 2 columns]

In [191]:
x = df_final['lyrics'].values
y = df_final['drake'].values

x_train, x_test, y_train, y_test = \
 train_test_split(x, y, test_size=0.2, random_state=None)

In [204]:
tokenizer = Tokenizer(num_words=100)
tokenizer.fit_on_texts(x)
xtrain= tokenizer.texts_to_sequences(x_train)
xtest= tokenizer.texts_to_sequences(x_test)

In [205]:
vocab_size=len(tokenizer.word_index)+1

In [206]:
maxlen=15
xtrain=pad_sequences(xtrain,padding='post', maxlen=maxlen)
xtest=pad_sequences(xtest,padding='post', maxlen=maxlen)

In [207]:

embedding_dim=50
model=Sequential()
model.add(layers.Embedding(input_dim=vocab_size,
      output_dim=embedding_dim,
      input_length=maxlen))
model.add(layers.LSTM(units=50,return_sequences=True))
model.add(layers.LSTM(units=10))
model.add(layers.Dropout(0.5))
model.add(layers.Dense(8))
model.add(layers.Dense(1, activation="sigmoid"))
model.compile(optimizer="adam", loss="binary_crossentropy", 
     metrics=['accuracy'])
model.summary()

Model: "sequential_10"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_8 (Embedding)      (None, 15, 50)            395000
_________________________________________________________________
lstm_7 (LSTM)                (None, 15, 50)            20200
_________________________________________________________________
lstm_8 (LSTM)                (None, 10)                2440
_________________________________________________________________
dropout_7 (Dropout)          (None, 10)                0
_________________________________________________________________
dense_10 (Dense)             (None, 8)                 88
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 9
=================================================================
Total params: 417,737
Trainable params: 417,737
Non-trainable params: 0
_________________________________________________________________

In [208]:
model.fit(xtrain,y_train, epochs=20, batch_size=16, verbose=False)

loss, acc = model.evaluate(xtrain, y_train, verbose=False)
print("Training Accuracy: " + str(acc))

Training Accuracy: 0.7276548147201538

In [209]:
loss, acc = model.evaluate(xtest, y_test, verbose=False)
print("Test Accuracy: " +  str(acc))

Test Accuracy: 0.6114221811294556

In [1]:
df

NameError: name 'df' is not defined